[submodule "graphed-orchestrator"]
	path = graphed-orchestrator
	url = git@github.com:graphed-org/graphed-orchestrator.git
[submodule "graphed-corpus"]
	path = graphed-corpus
	url = git@github.com:graphed-org/graphed-corpus.git
[submodule "graphed-core"]
	path = graphed-core
	url = git@github.com:graphed-org/graphed-core.git
[submodule "graphed"]
	path = graphed
	url = git@github.com:graphed-org/graphed.git
[submodule "graphed-numpy"]
	path = graphed-numpy
	url = git@github.com:graphed-org/graphed-numpy.git
[submodule "graphed-awkward"]
	path = graphed-awkward
	url = git@github.com:graphed-org/graphed-awkward.git
[submodule "graphed-debug"]
	path = graphed-debug
	url = git@github.com:graphed-org/graphed-debug.git
[submodule "graphed-exec-local"]
	path = graphed-exec-local
	url = git@github.com:graphed-org/graphed-exec-local.git
[submodule "graphed-checkpoint"]
	path = graphed-checkpoint
	url = git@github.com:graphed-org/graphed-checkpoint.git
[submodule "graphed-preserve"]
	path = graphed-preserve
	url = git@github.com:graphed-org/graphed-preserve.git
