[submodule "graphed-orchestrator"]
	path = graphed-orchestrator
	url = git@github.com:graphed-org/graphed-orchestrator.git
[submodule "graphed-corpus"]
	path = graphed-corpus
	url = git@github.com:graphed-org/graphed-corpus-mvp.git
[submodule "graphed-exec-local"]
	path = graphed-exec-local
	url = git@github.com:graphed-org/graphed-executors.git
[submodule "graphed-histogram"]
	path = graphed-histogram
	url = git@github.com:graphed-org/graphed-histogram.git
[submodule "graphed"]
	path = graphed
	url = git@github.com:graphed-org/graphed.git
